body {
	font-size: 14px !important;
	a {
		color: #2271b1;
		&:hover, &:focus {
			text-decoration: none;
			outline: none;
			box-shadow: none;
		}
	}
}

#kvsync {
	position: relative;
	margin-top: 20px;
	.branch-sync-order {
		margin-bottom: 30px;
		text-align: center;
		>p {
			text-align: center;
			font-size: 15px;
			font-weight: bold;
		}
		.v-select {
			width: 100%;
			max-width: 500px;
			display: inline-block;
		}
	}
	.step-wrapper {
		margin-top: 20px;
	}
	.auto-sync-order {
		.custom-checkbox {
			text-align: center;
			font-size: 15px;
			font-weight: bold;
		}
		.description {
			text-align: center;
			color: red;
			font-size: 13px;
			font-style: italic;
			margin-top: 20px;
			padding: 0% 18%;
		}
	}
	p.branch-name {
		font-size: 16px;
		text-align: center;
		margin-bottom: 30px;
		span {
			font-weight: bold;
		}
	}
	.select-branch {
		text-align: center;
		.select-branch-logo {
			margin-bottom: 25px;
		}
		.select-branch-loading {
			p {
				margin-top: 20px;
			}
		}
		.select-branch-main {
			h2 {
				font-size: 20px;
				text-transform: uppercase;
				font-weight: 700;
				margin-bottom: 20px;
			}
			.select-input {
				text-align: center;
				margin-bottom: 20px;
				.v-select {
					width: 100%;
					max-width: 500px;
					display: inline-block;
				}
			}
		}
	}
	.search-box {
		position: relative;
	}
	.loading-data-notice {
		text-align: center;
	}
	.kv-notice-top {
		display: block;
		padding: 15px 0px;
		color: #168ddc;
		font-weight: 500;
		>svg {
			color: orange;
			cursor: pointer;
		}
	}
	.container {
		background-color: #fff;
		margin-top: 20px;
	}
	.step {
		margin-top: 40px;
		.item {
			position: relative;
			.icon-down {
				position: absolute;
				right: 25px;
				top: 5px;
				color: #72777c;
			}
		}
	}
	.config-info {
		padding: 0px 60px;
		.icon-disconnect {
			margin-right: 0px;
			position: relative;
			top: -2px;
		}
		.box-info {
			border: 2px solid #ddd;
			border-radius: 10px;
			padding: 20px;
		}
	}
	.step-indicator {
		border-collapse: separate;
		display: table;
		margin-left: 0px;
		position: relative;
		table-layout: fixed;
		text-align: center;
		vertical-align: middle;
		padding-left: 0;
		width: 100%;
		li {
			display: table-cell;
			position: relative;
			float: none;
			padding: 0;
			width: 25%;
			.step {
				color: #fff;
				width: 140px;
				svg {
					color: #ccc;
				}
			}
			span.title {
				color: #72777c;
			}
		}
		.line-throw {
			position: absolute;
			top: 50%;
			left: 10%;
			right: 10%;
			height: 2px;
			background: #dedede;
		}
		li.active {
			.step {
				background: #3da849;
				color: #fff;
			}
			.caption {
				color: #333;
			}
		}
		li.complete {
			&:after {
				background-color: #dedede;
			}
			.step {
				background: #3da849;
				border-color: #3da849;
				svg {
					color: #fff;
				}
			}
			.caption {
				color: #999;
			}
			span.title {
				color: #fff;
			}
		}
		.step {
			background-color: #fff;
			border-radius: 50px;
			border: 2px solid #ccc;
			color: #ccc;
			font-size: 15px;
			height: 40px;
			line-height: 35px;
			margin: 0 auto;
			position: relative;
			width: 45px;
			z-index: 1;
			&:hover {
				cursor: pointer;
			}
		}
		.caption {
			color: #ccc;
			padding: 11px 16px;
		}
	}
	.icon-drop {
		position: absolute;
		right: 30px;
		top: 30%;
	}
	.spinner {
		visibility: inherit;
		background: initial;
	}
	.login {
		.errors {
			position: relative;
			p {
				color: #fff;
				margin-top: 15px;
				font-size: 14px;
				text-align: left;
				padding: 15px 20px;
				background: #fc6363;
				padding-left: 80px;
			}
		}
		li {
			padding-left: 10px;
		}
		.logo {
			max-width: 100%;
			margin: auto;
		}
		.text-left {
			list-style: decimal;
			background: #ededed;
			border-radius: 5px;
			padding: 20px 50px;
			margin-bottom: 0px;
		}
		.card {
			border: none;
			box-shadow: none;
		}
		input.form-control {
			border: none;
			box-shadow: none;
			border-radius: 0;
			padding: 5px;
			background: transparent;
			border-bottom: 1px solid #ccc;
			&:focus {
				border-bottom: 2px solid #3bab49;
			}
		}
		.text-appden {
			position: absolute;
			top: 8px;
			right: 5px;
			font-weight: bold;
		}
	}
	.loading {
		width: 100%;
		text-align: center;
		svg {
			font-size: 35px !important;
		}
	}
	.v-select {
		.dropdown-toggle {
			padding: 0px;
		}
		.vs__dropdown-menu {
			position: relative;
			z-index: 100000;
			position: absolute;
			top: 105%;
			.active {
				>a {
					color: #fff;
				}
			}
		}
		input[type="search"] {
			margin: 0px;
		}
		.selected-tag {
			margin-bottom: 4px;
		}
		.vs__clear {
			img {
				margin-right: 0px;
				position: relative;
			}
		}
		.vs__dropdown-toggle {
			.clear {
				color: red !important;
			}

			.vs__actions {
				padding: 0;
			}
		}
		.vs__open-indicator {
			display: none !important;
			&:before {
				display: none !important;
			}
		}
		.dropdown {
			li {
				border-bottom: 1px solid rgba(112, 128, 144, 0.1);
				&:last-child {
					border-bottom: none;
				}
				a {
					padding: 10px 20px;
					width: 100%;
					font-size: 1.25em;
					color: #3c3c3c;
				}
			}
		}
		.vs__spinner {
			position: relative;
			left: -10px;
		}
		.vs--loading {
			position: relative;
			z-index: 10000;
		}
	}
	.waiting-login {
		float: right;
		position: relative;
		top: 3px;
		left: 10px;
	}
	.btn-success {
		background-color: #3da849;
		border-color: #3da849;
	}
	.btn-danger {
		background-color: #fc6363;
		border-color: #fc6363;
	}
	.btn-secondary {
		background-color: #999;
		border-color: #999;
	}
	.input-login.error {
		border-bottom: 1.5px solid #fc6363 !important;
	}
	.v-select.search-category {
		.dropdown-toggle {
			border: none;
			&::after {
				display: none;
			}
		}
	}
	.tree-menu {
		position: relative;
		transition: 150ms ease-out;
		.label-wrapper {
			padding: 10px 40px 10px 30px;
			border-bottom: 1px solid #e0e0e0;
			border-top: 0;
			cursor: move;
			.icon-add {
				display: none;
				color: #999999;
				margin-right: 5px;
				z-index: 1;
				cursor: pointer;
				position: absolute;
				right: 0;
				top: 15px;
			}
			.icon-check {
				position: absolute;
				right: 22px;
				top: 13px;
				color: #3da849;
			}
			&:hover {
				background: #edf6e4;
				.icon-add {
					display: block;
				}
			}
			.name {
				font-size: 14px;
				margin-bottom: 0px;
			}
		}
		.icon-menu {
			color: #0080d1;
			position: absolute;
			top: 13px;
			z-index: 99;
			cursor: pointer;
			line-height: 1;
			left: 10px;
			svg {
				font-size: 12px;
			}
		}
		.label-wrapper.active {
			background: #f5f5f5;
			.icon-add {
				display: block;
			}
		}
	}
	.page-item.active {
		.page-link {
			color: #fff;
			background-color: #3da849;
			border-color: #3da849;
		}
	}
	.page-link {
		color: #333;
	}
	.btn-primary {
		background: #0080d1;
	}
	.category-search {
		.header {
			background: #428bca;
			color: #fff;
			font-weight: 500;
			padding-top: 10px;
			padding-bottom: 11px;
		}
		.search {
			padding: 8px 20px;
			margin-bottom: 0px;
			svg {
				font-size: 15px;
				color: #c4c4c4;
			}
		}
		.line-bottom {
			position: absolute;
			bottom: 0px;
			height: 1px;
			background: #32373c;
			left: 20px;
			right: 20px;
			z-index: 1;
		}
		.input-search {
			&::-webkit-input-placeholder {
				font-size: 14px;
			}
		}
		input {
			border: none;
			box-shadow: inherit;
			width: 100%;
		}
		border-left: 0;
		border-right: 0;
		border-bottom: 1px solid #ddd;
	}
	.category-search-list {
		height: 420px;
		overflow: auto;
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}
		&::-webkit-scrollbar-thumb {
			background: #c4c4c4;
			opacity: 0.5;
			&:hover {
				background: #555;
			}
		}
	}
	.table-hover {
		tbody {
			tr {
				&:hover {
					background: #f5f5f5;
				}
			}
		}
	}
	.search-product {
		position: relative;
		.result-search {
			position: absolute;
			height: 350px;
			overflow: auto;
			float: left;
			left: 15px;
			right: 15px;
			z-index: 100000;
			border: 1px solid #ddd;
			border-top: none;
			background: #fff;
			.item-search {
				padding: 10px;
				margin-bottom: 0px;
				padding-left: 70px;
				min-height: 65px;
				&:hover {
					background: #edf6e4;
					cursor: pointer;
				}
				img {
					position: absolute;
					left: 15px;
					width: 45px;
					height: 35px;
					margin-top: 3px;
				}
			}
		}
	}
	.icon-search {
		background: #0080d1;
		padding: 5px 25px !important;
		border-radius: 0px 4px 4px 0px !important;
	}
	.table {
		thead {
			th {
				&:first-child {
					border-radius: 5px 0px 0px 0px;
				}
				&:last-child {
					border-radius: 0px 5px 0px 0px;
				}
				border-bottom: none;
				font-weight: 500;
			}
			tr {
				border-left: none;
				border-right: none;
			}
		}
		tr {
			border-left: 1px solid #dee2e6;
			border-right: 1px solid #dee2e6;
			&:last-child {
				border-bottom: 1px solid #dee2e6;
			}
		}
		.td-table {
			position: relative;
			vertical-align: baseline;
			padding: 0;
		}
	}
	.table.branch {
		tr {
			border-left: none;
			border-right: none;
		}
	}
	.config {
		.loading {
			.spinner-border {
				font-size: 10px;
				width: 80px;
				height: 80px;
				border-right-color: #ddd;
				border-top-color: #ddd;
				border-bottom-color: #ddd;
			}
		}
		.custom-control-input {
			&:checked {
				~ {
					.custom-control-label {
						&::before {
							border: 1px solid #ffffff;
							background-color: #3da849;
						}
					}
				}
			}
		}
		.custom-checkbox {
			.custom-control-label {
				&::before {
					border-radius: 0px;
				}
			}
		}
	}
	.text-success {
		color: #3da849;
	}
	.thead-table {
		background: #3da849;
		color: #fff;
		border-bottom: 0px;
	}
	.table.table-select {
		td {
			vertical-align: unset;
			position: relative;
		}
	}
	.box-info {
		>.col {
			&:first-child {
				padding-left: 0px;
				border-right: 2px solid #ddd;
				>span {
					position: relative;
					color: #111111;
					font-weight: bold;
				}
			}
			&:nth-child(2) {
				text-align: left;
				>p {
					margin-bottom: 5px;
					color: #0080d1;
					font-size: 16px;
				}
				>a {
					color: #999;
					font-size: 13px;
				}
			}
			&:nth-child(3) {
				>button {
					width: 154px;
					&:not(:last-child) {
						margin-bottom: 5px;
					}
				}
			}
		}
	}
	.search-box {
		>img {
			position: absolute;
			top: 8px;
		}
		>input {
			border: none;
			box-shadow: inherit;
			padding-left: 30px;
		}
	}
	.pagination {
		display: inline-flex;
		margin-bottom: 0px;
	}
	.vs__dropdown-toggle {
		&::after {
			display: none;
		}
	}
	img {
		height: auto;
	}
	.btn {
		border-radius: 4px;
		padding: 5px 20px;
	}
	.d-center {
		display: flex;
		align-items: center;
	}
	.selected {
		img {
			width: auto;
			max-height: 23px;
			margin-right: 0.5rem;
		}
	}
	.vs__actions {
		svg {
			color: #c4c4c4;
			margin-right: 10px;
		}
	}
	.product-search {
		.search-box {
			svg {
				font-size: 15px;
				color: #c4c4c4;
			}
		}
		border: 1px solid #ddd;
		padding: 8px 0px;
		.input-search {
			border: none;
			box-shadow: inherit;
			width: 100%;
			padding-left: 39px;
		}
		svg {
			position: absolute;
			top: 7px;
		}
	}
	&::placeholder {
		color: #72777c;
	}
	.td-width-center {
		width: 50% !important;
	}
	.td-branch {
		border-left: none;
		border-top: none;
		border-right: none;
		border-bottom: 1px solid #ccc;
		width: 50%;
		.custom-switch {
			.custom-control-label {
				.description {
					>p {
						margin-bottom: 5px;
						margin-top: 1px;
					}
					>span {
						display: block;
						font-size: 12px;
						color: #fc6363;
						font-style: italic;
					}
				}
			}
		}
	}
	.step.config-info {
		ul.description {
			list-style: decimal;
			padding-left: 30px;
			list-style-type: none;
			background: #ddd;
			padding: 15px 50px;
			border-radius: 15px;
			margin-bottom: 30px;
		}
	}
	.sync {
		.progress-bar {
			border-radius: 30px;
		}
		.progress {
			border-radius: 30px;
			margin-top: 20px;
		}
		.box-warning {
			margin-top: 30px;
		}
		.warning {
			background: #ddd;
			padding: 10px 15px;
			border-radius: 10px;
			display: inline-block;
			svg {
				color: #72777c;
			}
		}
		.type {
			font-weight: bold;
			color: #0080d1;
		}
		.success {
			font-size: 20px;
		}
	}
	.disabled-input {
		position: absolute;
		background: #dedede;
		right: 0px;
		left: 20px;
		bottom: 0px;
		z-index: 10000;
		opacity: 0.5;
		top: 0px;
	}
	.process-get-data {
		margin-top: 60px;
	}
	.product-header {
		background: #428bca;
		color: #fff;
		padding: 10px 0px;
		border-radius: 4px 4px 0px 0px;
		font-weight: 500;
		display: flex;
	}
	.product-item {
		padding: 5px 0px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		.form-group {
			margin-bottom: 0px;
		}
		.custom-checkbox {
			position: relative;
			margin: 0px;
		}
	}
	.product-list {
		.select {
			padding: 0px 15px;
			line-height: 1;
		}
		.status {
			.custom-switch.form-control-lg {
				height: auto;
				padding: 0;
			}
			width: 23%;
		}
		.image {
			margin-right: 15px;
			>figure {
				width: 40px;
				height: 40px;
				margin: 0px;
				>img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.name {
			width: 35%;
			padding-right: 20px;
		}
		.category {
			width: 35%;
		}
		.total-item {
			padding-left: 30px;
			position: relative;
			top: 7px;
		}
	}
	.product-length {
		font-size: 15px;
		color: #0080d1;
		cursor: pointer;
		position: absolute;
		top: -10px;
		left: 50%;
		transform: translate(-50%, 50%);
	}
	.icon-step {
		position: relative;
		margin-right: 4px;
	}
	.step.product {
		.active-all {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 0px;
			height: 51px;
			.button-active {
				margin-left: 15px;
				margin-top: 3px;
				padding-right: 0px;
			}
		}
		input[type="checkbox"] {
			&:disabled {
				opacity: 0;
			}
		}
	}
	.sync-all {
		display: flex;
		align-items: center;
	}
	.branch {

	}
	select.product-action {
		&:hover {
			color: none;
		}
		border-color: #ddd;
		padding: 3px 39px 3px 30px;
		color: none;
		box-shadow: none;
	}
	.product {
		.select-all {
			color: #168ddc;
			font-weight: 500;
			margin-right: 80px;
			cursor: pointer;
		}
		.select-all.uncheck {
			color: #f96263;
		}
		.product-footer {
			margin-top: 20px;
			position: relative;
			z-index: 1;
			display: flex;
		}
	}
}
.custom-switch.form-control-lg {
	.custom-control-label {
		&:before {
			top: 0.3125rem;
			height: 1.25rem;
			left: -2.8125rem;
			width: 2.1875rem;
			border-radius: 0.625rem;
		}
		&:after {
			top: calc(0.3125rem + 2px);
			left: calc(-2.8125rem + 2px);
			width: calc(1.25rem - 4px);
			height: calc(1.25rem - 4px);
			border-radius: 0.625rem;
			background-size: 50% 50%;
		}
	}
	.custom-control-input {
		&:checked {
			~ {
				.custom-control-label {
					&:after {
						-webkit-transform: translateX(0.9375rem);
						transform: translateX(0.9375rem);
					}
				}
			}
		}
	}
}
.input-group-lg {
	.custom-switch {
		.custom-control-label {
			&:before {
				top: 0.3125rem;
				height: 1.25rem;
				left: -2.8125rem;
				width: 2.1875rem;
				border-radius: 0.625rem;
			}
			&:after {
				top: calc(0.3125rem + 2px);
				left: calc(-2.8125rem + 2px);
				width: calc(1.25rem - 4px);
				height: calc(1.25rem - 4px);
				border-radius: 0.625rem;
				background-size: 50% 50%;
			}
		}
		.custom-control-input {
			&:checked {
				~ {
					.custom-control-label {
						&:after {
							-webkit-transform: translateX(0.9375rem);
							transform: translateX(0.9375rem);
						}
					}
				}
			}
		}
	}
}
.custom-switch {
	.custom-control-label {
		&::after {
			background: #fff;
		}
		&::before {
			background: #999;
		}
	}
}
@media (max-width: 1366px) {
	.container {
		max-width: 1080px;
	}
}
